@font-face {
    font-family: Arial,"黑体","Microsoft YaHei";
    /* font-family: 'Arial','黑体'; */
    src: url();
}
.App {
    font-family: Arial,"Microsoft YaHei";
    --navbar-height: 48px;
    --theme-color: #c5c5c5
}

h1{
    user-select: none;
}
.Mainpage{
    /* display: flex; */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #282c34;
    color: rgb(231, 231, 231);
    font-size: calc(10px + 2vmin);
    text-align: center;
}
.page-title{
    color: #317e4a
}
#preload{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #0c0513;
    background-image: url(./Asset/loader.svg);
    background-repeat: no-repeat;
    background-position: center;
}

/****************/
/* Navbar Style */
/****************/

.navbar{
    top:0 !important;
    background-color: var(--theme-color) !important;
    width: 100vw !important;
    color:#ffff !important;
    position: sticky !important;
    height: var(--navbar-height) !important;
    z-index: 1000 !important;
}

.navbar-container{
    margin-left: 5vw !important;
    margin-right: 5vw !important;
}

.currPage{
    color: #317e4a !important;
    font-weight: bold !important;
}
.home-section{
  /* position: relative; */
  font: 1em sans-serif;
  background: transparent;
  background-position: top center;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  padding-bottom: 30px !important;
  padding-top: 70px !important;
}

.github-icon{
    mask-image: url(./Asset/github-mark-small.svg);
    display: block;
    width: 21px;
    height: 21px;
    background-color: #0c0c0c;
    mask-position: center;
}
.footer{
    width: 100vw !important;
    /* position:relative; */
    /* color:rgb(75, 75, 75); */
    background-color: var(--theme-color) !important;
    height:20vh;
    padding-top: 10px;
    /* margin-top: 10px; */
}
.visually-hidden {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    white-space: nowrap !important;
    width: 1px !important;
}


/* [class$=-main-page]{
    min-height:80vh !important;
    width:100%;
    margin-top: 10vh;
    margin-bottom: 5vh;
    padding-bottom: 20vh;
} */
.main-container{
    display: flex;
    width: 100%;
    min-height: 100vh;
    /* padding-top:var(--navbar-height); */
    margin-left: 0 !important;
    margin-right: 0 !important;
}


.card-img{
    width:18rem;
    height:20rem;
    position: relative;
    box-sizing: border-box;
    outline: none;

}

.item-card{
    width:18rem;
    height:28rem;
    -webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
}

.item-card:hover,.note-list-item:hover{
    -webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
	-moz-transform: translate(-2px,-2px);
	-webkit-transform: translate(-2px,-2px);
	-o-transform: translate(-2px,-2px);
	-ms-transform: translate(-2px, -2px);
	transform: translate(-2px,-2px);
	-webkit-box-shadow: 5px 5px 15px rgba(67, 72, 84, 0.5);
	-moz-box-shadow: 5px 5px 15px rgba(67, 72, 84, 0.5);
	-o-box-shadow: 5px 5px 15px rgba(67, 72, 84, 0.5) !important;
	box-shadow: 5px 5px 15px rgba(67, 72, 84, 0.5) !important;
}

/*************/
/* Home Page */
/*************/

#home{
    flex-direction: column;
    padding-top:3vh;
}

/*************/
/* Note Page */
/*************/

.note-list-item{
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    padding: 20px !important;
    border-radius: 5px !important;
    box-shadow: 0 0 10px rgba(0,0,0,0.1) !important;
    -webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
    width: 60vw;
}

.note-body{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}

.note-body-container{
    display: flex;
    width: 75vw;
    padding-top:2vh;
}

/*******************/
/* Side Navigation */
/*******************/

.fixed-accordion {
    position: sticky;
    top: var(--navbar-height);
    padding: 1rem;
    left: 0vw;
    width: 250px; /* 根据需要调整 */
    height: 100vh; /* 根据需要调整 */
    overflow-y: auto; /* 如果内容超出高度，添加滚动条 */
    z-index: 10; /* 确保它在其他内容之上 */
    background-color: var(--theme-color);
    margin-right: 2vw;
}
.flex-column{
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
}
.accordion-item{
    background-color: var(--theme-color) !important;
    border: 0 !important;
}
.nav-link:hover{
    -webkit-transition: all 0.5s ease 0s;
	-moz-transition: all 0.5s ease 0s;
	-o-transition: all 0.5s ease 0s;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
    transform: scale(1.02);
	-webkit-box-shadow: 5px 5px 15px rgba(67, 72, 84, 0.5);
	-moz-box-shadow: 5px 5px 15px rgba(67, 72, 84, 0.5);
	-o-box-shadow: 5px 5px 15px rgba(67, 72, 84, 0.5) !important;
	box-shadow: 5px 5px 15px rgba(67, 72, 84, 0.5) !important;
}

.flex-column .nav-link{
    color: #3f4145 !important;
}
.flex-column .side-nav-activate{
    font-weight: bold !important;

}

.markdown-body pre{
    background-color: #f6f8fa;
    padding: 5px;
}

/**************/
/* Anime Page */
/**************/

#anime{
    flex-direction: column;
}

/**************/
/* Project Page */
/**************/
#project{
    flex-direction: column;
}   